@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
   
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: #c8d0e1;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.content .header{
    grid-template-columns: 1fr;
    display: flex;
    margin: 0;
    padding: 0;
}

.content .header h1{
    display: grid;
    flex-direction: column;
    margin: 0.25rem;
    padding: 2rem 0.25rem 2rem 0.5rem;
    width: 50vw;
}

.content .header span{
    display: grid;
    width: 50vw;
    flex-direction: column;
    margin: 0.25rem;
    padding: 2rem .5rem 2rem 2rem;
    direction: rtl;
}

.content .header .buscapokemon{
    width: 100vw;
}

.content .buscapokemon .buscar{
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-top: 8px;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.content .header a {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  filter: brightness(1.1);
  top: 0;
  left: 0;
  background-color: #c8d0e1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
    padding: 1rem;
  }
  
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  margin-left: 50px;
}

.pokedetailpai {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    filter: brightness(1.1);
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1.5s;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 902px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}